<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Dice Form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
      <form action="/square_root/results">
        <div><label for="user_number">Enter a number</label>
        <input id="user_number" name="number" placeholder="What number do you want to take the square root of?"></div>
    <button>Calculate square root</button>
  </form>
  </body>
</html>
